/* css styles */
:root {
  --main-color: #3e3023;
  --accent-color: #b0d4c7;
  --heading-color: #8e6944;
  --bg-color: #beb6a4;
}


h1,h2,h3,h4,h5,h6 {
	color: var(--heading-color);
	border-left: 1em var(--accent-color);
}

html {
	background-color: var(--bg-color);
}

body {
	color: var(--main-color);
	background-color: white;
	max-width: 900px;
	margin: 0 auto;
}

#quarto-header {
	max-width: 900px;
	margin: 0 auto;
}

.navbar {
	background-color: var(--main-color);}
}