---
---

@import "{{ site.theme }}";


:root {
  --main-color: #3e3023;
  --accent-color: #b0d4c7;
  --heading-color: #8e6944;
  --bg-color: #beb6a4;
}


h1,h2,h3,h4,h5,h6 {
	color: var(--heading-color);
	background-color: var(--accent-color);
}

body {
	color: var(--main-color);
	background-color: var(--bg-color);
}